<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QuarantinBud</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/stylesheets/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="/stylesheets/nice-select.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/"> <img src="/img/logo.png" alt="logo" id="logo"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="ti-menu"></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                            id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center" id="menu-links">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#blog">Blogs</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/start_help">Start Help</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/need_help">Need Help</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/">About US</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item text-center">
                            <h2>User Details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <div class="whole-wrap">
	    <div class="container box_1170">
            <div class="section-top-border">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <h3 class="mb-30">Keep your details updated!!</h3>
                        <form action="/<%= currentUser.userId %>/updateDetails" method="POST">
                            <div class="mt-10">
                                <input type="text" name="firstName" placeholder="First Name" value="<%= currentUser.firstName %>"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required
                                    class="single-input">
                            </div>
                            <div class="mt-10">
                                <input type="text" name="lastName" placeholder="Last Name" value="<%= currentUser.lastName %>"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required
                                    class="single-input">
                            </div>
                            <div class="mt-10">
                                <input type="tel" name="contact" placeholder="888 888 8888" placeholder="Mobile number"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone Number'" required
                                    class="single-input" value="<%= currentUser.contact %>">
                            </div>
                            <div class="mt-10">
                                <input type="email" name="email" placeholder="Email address" value="<%= currentUser.email %>"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required
                                    class="single-input">
                            </div>
                            <div class="mt-10">
                                <input type="text" name="addressL1" placeholder="Address Line 1" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Address'" required class="single-input" value="<%= currentUser.addressL1 %>"  required>
                            </div>
                            <div class="mt-10">
                                <input type="text" name="addressL2" placeholder="Address Line 2" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Address'" required class="single-input" value="<%= currentUser.addressL2 %>" required>
                            </div>
                            <div class="mt-10">
                                <input type="text" name="addressL3" placeholder="City" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Address'" required class="single-input" value="<%= currentUser.addressL3 %>" required>
                            </div>
                            <div class="mt-10">
                                <input type="number" name="pincode" placeholder="Pincode" maxlength="6" minlength="6"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Pincode'" value="<%= currentUser.pincode %>" required
                                    class="single-input">
                            </div>
                            <div class="mt-10">
                                <input type="submit" name="submit" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'submit'" class="btn_2">

                                <input type="reset" name="reset" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'reset'" class="btn_2">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
                    
 <!-- jquery plugins here-->

 <script src="js/jquery-1.12.1.min.js"></script>
 <!-- popper js -->
 <script src="js/popper.min.js"></script>
 <!-- bootstrap js -->
 <script src="js/bootstrap.min.js"></script>
 <!-- easing js -->
 <script src="js/jquery.magnific-popup.js"></script>
 <!-- swiper js -->
 <script src="js/swiper.min.js"></script>
 <script src="js/wow.min.js"></script>
 <script src="js/jquery.smooth-scroll.min.js"></script>
 <!-- swiper js -->
 <script src="js/masonry.pkgd.js"></script>
 <!-- particles js -->
 <script src="js/owl.carousel.min.js"></script>
 <script src="js/jquery.nice-select.min.js"></script>
 <!-- swiper js -->
 <script src="js/slick.min.js"></script>
 <script src="js/jquery.counterup.min.js"></script>
 <script src="js/waypoints.min.js"></script>
 <!-- contact js -->
 <script src="js/jquery.ajaxchimp.min.js"></script>
 <script src="js/jquery.form.js"></script>
 <script src="js/jquery.validate.min.js"></script>
 <script src="js/mail-script.js"></script>
 <script src="js/contact.js"></script>
 <!-- custom js -->
 <script src="js/custom.js"></script>
</body>

</html>