<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Charity</title>
    <link rel="icon" href="/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/stylesheets/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/stylesheets/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="/stylesheets/nice-select.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <!doctype html>
    <html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>QuarantinBud</title>
        <link rel="icon" href="/img/favicon.png">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <!-- animate CSS -->
        <link rel="stylesheet" href="/stylesheets/animate.css">
        <!-- owl carousel CSS -->
        <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
        <!-- themify CSS -->
        <link rel="stylesheet" href="/stylesheets/themify-icons.css">
        <!-- flaticon CSS -->
        <link rel="stylesheet" href="/stylesheets/flaticon.css">
        <!-- magnific popup CSS -->
        <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
        <!-- nice select CSS -->
        <link rel="stylesheet" href="/stylesheets/nice-select.css">
        <!-- swiper CSS -->
        <link rel="stylesheet" href="/stylesheets/slick.css">
        <!-- style CSS -->
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>
        <!--::header part start::-->
        <header class="main_menu home_menu">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="/"> <img src="/img/logo.png" alt="logo"><img
                                    src="https://fontmeme.com/permalink/200926/a120a9c2a9c9cad484fe1f918483cf80.png"
                                    alt="QuarantinBud" border="0"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="ti-menu"></span>
                            </button>

                            <div class="collapse navbar-collapse main-menu-item justify-content-end"
                                id="navbarSupportedContent">
                                <ul class="navbar-nav align-items-center">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/">Blogs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/start_help">Start Help</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/need_help">Need Help</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/">About US</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header part end-->

        <!-- breadcrumb start-->
        <section class="breadcrumb breadcrumb_bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb_iner">
                            <div class="breadcrumb_iner_item text-center">
                                <h2>Life is short, Help More People :)</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb start-->

        <section class="feature_part">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <form action="#">
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder='Search Keyword'
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                &nbsp;
                                <button class="btn btn-success col-sm-4" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <br>
            <div class="container box_1170">
                <div class="container-fluid">   
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="card-columns">
                                <% requests.forEach(function(request){ %>
                                    <article class="card">
                                        <img class="card-img-top rounded-0" src="/img/blog/<%= request.category %>.png" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title"><%= request.firstName %> <%= request.lastName %></h5>
                                            Items to be picked:
                                            <p class="card-text"><%= request.list %></p>
                                            <br>
                                            <ul>
                                                <li> <h5>Address:</h5></li>
                                                <li> <%= request.addressL1 %></li>
                                                <li> <%= request.addressL2 %></li>
                                                <li> <%= request.addressL3 %></li>
                                                <li> Pincode: <%= request.pincode %></li>
                                                <li> Contact: <%= request.contact %></li>
                                                <li> &nbsp;</li>
                                                <li> Posted On: <%= request.date.toLocaleTimeString() %></li>
                                            </ul>
                                            <hr>
                                            <div class="text-right">
                                                <form class="float-right" action="/<%=currentUser.userId %>/<%= request.id %>/start_help" method="POST">
                                                    &nbsp;&nbsp;<button class="btn btn-success">Accept</button>
                                                </form>
                                                <form class="float-right" action="/<%=currentUser.userId %>/<%= request.id %>/report" method="POST">
                                                    <button class="btn btn-danger">Report</button>
                                                </form>
                                                <br>
                                                <br>
                                            </div>
                                        </div>
                                    </article>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <!-- jquery plugins here-->

        <script src="js/jquery-1.12.1.min.js"></script>
        <!-- popper js -->
        <script src="js/popper.min.js"></script>
        <!-- bootstrap js -->
        <script src="js/bootstrap.min.js"></script>
        <!-- easing js -->
        <script src="js/jquery.magnific-popup.js"></script>
        <!-- swiper js -->
        <script src="js/swiper.min.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/jquery.smooth-scroll.min.js"></script>
        <!-- swiper js -->
        <script src="js/masonry.pkgd.js"></script>
        <!-- particles js -->
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
        <!-- swiper js -->
        <script src="js/slick.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/waypoints.min.js"></script>
        <!-- contact js -->
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/jquery.form.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/mail-script.js"></script>
        <script src="js/contact.js"></script>
        <!-- custom js -->
        <script src="js/custom.js"></script>
    </body>

    </html>